/* ########################
Middle content properties
##################### */

.middle{
	background-color: #ffdad1;
	height: 800px;
	padding: 50px 0;
}
.col-1{
	width: 340px;
	height: 620px;
}
.col-2{
  width: 760px;

}
.col-3{
	margin-top: 300px;
	margin-left: 60px;
}
.col-1,.col-2,.col-3{
	float: left;
}

.cover1{
    width: 340px;
	height: 480px;
}

.order-form{
	margin:10px auto;
}

table{

	width: 800px;
	height: 720px;
	text-align: center;
	background-color: white;
}
/*Table columns properties*/
.tb-header{
	height: 50px;
	background-color: #ff5a36;
 }
 th{	color: white;}

.tb-price,.tb-sum{width:110px; }
 
.tb-type{
	width: 300px; 
	text-align: left;
}


.tb-quantity{width: 120px; }

.checking,.tb-img{
	width: 140px;
	height: 160px;
	
}
.tb-img-1{
	background-image: url("../photos/Bag1/idle.png");
}
.tb-img-2{
	background-image: url("../photos/Bag2/f.png");
}
.tb-img-3{
	background-image: url("../photos/Bag5/front.jpg");
}
.tb-img-4{
	background-image: url("../photos/Bag4/idle.png");
}
.tb-img-1,.tb-img-2,.tb-img-3,.tb-img-4{
	width: 130px;
	height: 150px;
	
	background-repeat: no-repeat;
	background-size: cover;
}

.quantity{
   width: 50px;
   height: 15px;
   padding:5px 3px;
   text-align: center;
}
  /*product-image-cover-box*/

.checking{
	background-color:rgba(255, 90, 54, 0.3);
	opacity: 0;
}
.tb-img-1:hover>.checking{
   opacity: 1;
}
.tb-img-2:hover>.checking{
   opacity: 1;
}
.tb-img-3:hover>.checking{
   opacity: 1;
}
.tb-img-4:hover>.checking{
   opacity: 1;
}
.checking a{
	text-align: center;
    line-height: 160px;
	padding: 5px 10px;
	background-color: #ff5a36;
	color: white;
	border-radius:10px ;
}
.checking a:hover{
	background-color: #D2321E;
}

hr{
	height: 2px;
	border: none;
    background-color: #ff5a36;
}
.reset-btn{width: 80px; }

.proceed-btn{width: 180px; }

.proceed{
	padding:20px; 
	height: 50px;
}
.reset-btn,.proceed-btn{	
	float: right;
	padding: 2px 5px;
	height: 30px;
	border: none;
	border-radius: 20px;
	color: white;	
    background-color: #ff5a36;
    cursor: pointer;
    margin:0 5px;
}
.proceed-link{
	color: white;	
	text-align: center;
	line-height: 30px;
}
.reset-btn:hover{
 background-color: #D2321E;
}
.proceed-btn:hover{
 background-color:  #D2321E;
}