.content{
	height: 820px;
}

 /*Daily checking cards*/
 .cards-blog{
 	height: 100px;
 	margin-left: 100px;
 }
.daily-title{
	padding-left:100px;
    height: 80px;
	font-size: 30px;
	letter-spacing:5px;
}
.daily-check{
	height: 220px;
	margin-bottom: 30px;
}
.daily-view,.daily-sale,.daily-income{
	width: 165px;
	height: 70px;
	margin: 10px 5px;
	float: left;
	padding: 10px;
	border-radius: 15px;
	background-color: white;
	box-shadow: 3px 5px 10px black;
}

.view-count,.sale-count,.income-count,.customer-member-count,.remain-product-count
{
    font-size: 20px;
}
.view-info,.sale-info,.income-info,.customer-member,.remain-product-member{
	color:  #373532;
}
.view-card{
	width: 55px;
	height:55px;
}
.sale-card{
	width: 55px;
	height:55px;
}
.income-card{
	width: 75px;
	height:75px;
}
.customer-member-card{
	width: 70px;
	height:70px;
}
.remain-product-card{
	width: 75px;
	height:75px;
}

/* ###########
Sale History
########### */
.sale-history{
	clear: both;
	height: 680px;
}
.table-side{
	width:800px;
	margin-left: 100px;
	background-color: white;
	border-radius: 15px;
}
.customer-side{
	width: 380px;
	margin-left: 40px;
}
.table-side,.customer-side{
	float: left;
	box-shadow: 3px 5px 10px black;
}

 /*table-side properties*/

.tb-title{
	width: 740px;
	height:40px;
	line-height:40px;
	font-size: 25px;
	padding: 10px 30px;
}
.tb-title a{
	display: inline-block;
	float: right;
	color: white;
	background-color:#ff5a36;
	border-radius: 15px;
	font-size:15px;
	font-weight: bold;
	padding: 5px 10px;
}
.tb-title a:hover{
	background-color:#D2321E;
}
.tb-title-btn{
	float: left;
}
.tb-sale-history{
	text-align: center;
	width: 780px;
	margin: 20px;
	border-radius: 15px;
	background-color: white;
}
.tb-sale-header{
	height: 30px;
}
.tb-sale-header th,.tb-row td{
	border-bottom: 1px solid  #F0F1F3;
}
.name{
	text-align: left;
	width: 400px;
}
.revenue{
	text-align: right;
	width: 200px;
}
.bought-time{
	width: 300px;
}
.bought-date{
	text-align: center;
    width: 80%;
    margin-left: 10px;
    padding: 3px 15px;
    border: none;
}
.name,.revenue,.bought-time{
	padding: 10px 25px;
}
.viewmore{
	color: #ff5a36;
}
.viewmore-row{
	text-align: center;
}
.viewmore:hover{
	color:#D2321E;
}

/*customer side properties*/
.customer-blog{
	width: 380px;
	background-color: white;
	border-radius: 10px;
}
.tb-customer{
	padding: 5px 10px;
}
.customer-tb-title{
	height: 50px;
	line-height: 50px;
	font-size: 25px;
	padding: 7px 20px;
}
.profile{
	width: 80px;
	height:80px;
}
.profile1,.profile2,.profile3,.profile4,.profile5{
	width: 75px;
	height: 75px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 50px;
}
.profile1{ background-image: url("../photos/Profile/customer1.jpg"); }
.profile2{ background-image: url("../photos/Profile/customer2.jpg"); }
.profile3{ background-image: url("../photos/Profile/customer3.jpg"); }
.profile4{ background-image: url("../photos/Profile/customer4.jpg"); }
.profile5{ background-image: url("../photos/Profile/customer5.jpg"); }

