/* #######################
Product-detail properties 
######################## */

table{
	width: 780px;
	height:600px; 
	margin:0 auto;
	border-spacing:10px;
}
.row-1{
	height:340px;
}
.row-2{
	height:260px;
}
.col-1{
	width: 340px;
}
.col-2{
     width: 440px;
}

/*Image properties*/

.main-img{
	width: 320px;
	height: 340px;
	background-color:white;
}
.mini-img{
	width: 32%;
	height: 150px;
	cursor: pointer;
}

/*Product details properties*/

 hr{
 	height: 1px;
 	border: none;
 	background-color: #ff5a36;
 }
.quantity{
	width: 50px;
	height: 25px;
	text-align: center;
	border: 1px solid #ff5a36;
}
.blue-box{
	border: 1px solid blue;
}
.blue{color: blue;}
.red{color:red;}
.black{color: black;}

.btn{
	height: 50px;
}
.back-btn,.update-btn{
	
	padding: 7px 15px;
	margin: 10px 5px;
	color: white;
	letter-spacing: 2px;	
	border-radius: 25px;
	cursor: pointer;
	float:right;
}
.update-btn{
	border:2px #ff5a36 solid;
	background-color: #ff5a36;
}
.back-btn{
	border:2px black solid;
	background-color: black;
}
.update-btn:hover{
	background-color:#D2321E;
}
.back-btn:hover{
	background-color:white;
	border:2px black solid;
	color: black;
}
.bag-detail{
	text-align: justify;
}