body{
	background-color: #F0F1F3;
}
.container{
	height: 1100px;
}

/*Table properties*/

.table-side{
	margin:0px auto;
	border-radius: 15px;
	margin-top: 100px;
	width: 1140px;
	background-color: #fff;
	box-shadow: 4px 7px 10px black;
}
.tb-title{
	width: 1100px;
	height:40px;
	line-height:40px;
	font-size: 25px;
	padding: 10px 20px;	
}
.addcustomer{
	display: inline-block;
	float: right;
	color: white;
	background-color:#4CAF50;
	border-radius: 15px;
	font-size:15px;
	font-weight: bold;
	padding: 3px 10px;
}

.tb-sale-history{
	text-align: center;
	width: 1100px;
	margin: 20px;
	border-radius: 15px;
	background-color: white;
}
tr{
	height: 170px;
}
.tb-sale-header{
	height: 30px;
}
.tb-sale-header th,.tb-row td{
	border-bottom: 1px solid  #F0F1F3;
}

.product-img1,.product-img2,.product-img3,.product-img4,.product-img5
{
   width: 140px;
   height: 150px;
   background-color: white;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.product-img1{ background-image:url('../photos/Bag1/idle.png');}
.product-img2{ background-image:url('../photos/Bag2/f.png');}
.product-img3{ background-image:url('../photos/Bag4/idle.png');}
.product-img4{ background-image:url('../photos/Bag6/idle.png');}
.product-img5{ background-image:url('../photos/Bag5/idle.png');}
.product-img{
	width: 150px;
}

.name{
	text-align: left;
	width: 175px;
	font-size: 17px;
}
.price{
	text-align: left;
	width: 125px;
}
.quantity{
	width: 100px;
	text-align: center;
}
.green-text{ color:#4CAF50; }
.orange-text{ color:#ebb434; }
.red-text{  color:#D2321E; }

.bought-date{
	text-align: center;
    width: 80%;
    margin-left: 10px;
    padding: 3px 15px;
    border: none;
}

.bought-time{
	width: 300px;
}



.btn-col{
	width: 300px;
}
.check-btn,.update-btn,.delete-btn{
	color: white;
	padding: 10px 13px;
	border-radius:10px;
}
.check-btn{
	background-color:#6ebeff;
}
.update-btn{
	background-color: #ff5a36;
}
.delete-btn{
	background-color: red;
}
.check-btn:hover{
	background-color:blue;
}
.update-btn:hover{
	background-color: red;
}
.delete-btn:hover{
	background-color: #D2321E;
}

.name,.revenue,.bought-time{
	padding: 10px 25px;
}

.viewmore{
	color: #ff5a36;
}
.viewmore-row{
	text-align: center;
}
.viewmore:hover{
	color:#D2321E;
}
#last-row{
	height: 30px;
}